footer {
    background-color: gray;
    position: fixed;
    bottom: 0;
    text-align: center;

    i {
        padding: 16px;
        font-size: 21px;
        color: black;
        }
        
    }