.mensajeIndex {
    position: relative;
    width: 80vw;
    background-color: white;
    text-align: center;
    opacity: 90%;
    margin-top: 5%;
    margin-bottom: 15%;
    border: solid black;
    }
    .imgcarrusel{
      height: 300px;
    }