$body-bg-color: #ccc;
$navbar-bg-color: grey;
$navbar-brand-font-size: 32px;
$navbar-nav-font-size: 16px;
$menu-link-font-size: 16px;
$menu-link-hover-gradient: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
$menu-link-hover-transform-origin: left;
$menu-link-hover-transition: transform 0.5s ease-in-out;
$font-tam: (
  "small": 12px,
  "medium": 16px,
  "large": 20px
);